<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url "index" %}" class="navbar-brand">BRAND</a></li>
                <li><a href="{% url "admin:index" %}" class="navbar-link">ADMIN</a></li>
                <li><a href="{% url "basic_app:other" %}" class="navbar-link">OTHER</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body_block %}
        <!-- anything outside this will be inherited if you extend -->
        {% endblock %}
    </div>
</body>
</html>